src/main/resources/wsdl/StarMFFileUploadService.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="StarMFFileUploadService"
	targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsp:Policy wsu:Id="WSHttpBinding_IStarMFFileUploadService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="WSHttpBinding_IStarMFFileUploadService1_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import
				schemaLocation="http://www.bsestarmf.in/StarMFFileUploadService/StarMFFileUploadService.svc?xsd=xsd0"
				namespace="http://tempuri.org/" />
			<xsd:import
				schemaLocation="http://www.bsestarmf.in/StarMFFileUploadService/StarMFFileUploadService.svc?xsd=xsd1"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import
				schemaLocation="http://www.bsestarmf.in/StarMFFileUploadService/StarMFFileUploadService.svc?xsd=xsd2"
				namespace="http://schemas.datacontract.org/2004/07/StarMFFileUploadService" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IStarMFFileUploadService_GetPassword_InputMessage">
		<wsdl:part name="parameters" element="tns:GetPassword" />
	</wsdl:message>
	<wsdl:message name="IStarMFFileUploadService_GetPassword_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetPasswordResponse" />
	</wsdl:message>
	<wsdl:message name="IStarMFFileUploadService_UploadFile_InputMessage">
		<wsdl:part name="parameters" element="tns:UploadFile" />
	</wsdl:message>
	<wsdl:message name="IStarMFFileUploadService_UploadFile_OutputMessage">
		<wsdl:part name="parameters" element="tns:UploadFileResponse" />
	</wsdl:message>
	<wsdl:message
		name="IStarMFFileUploadService_UploadMandateScanFile_InputMessage">
		<wsdl:part name="parameters" element="tns:UploadMandateScanFile" />
	</wsdl:message>
	<wsdl:message
		name="IStarMFFileUploadService_UploadMandateScanFile_OutputMessage">
		<wsdl:part name="parameters" element="tns:UploadMandateScanFileResponse" />
	</wsdl:message>
	<wsdl:message name="IStarMFFileUploadService_JsonData_InputMessage">
		<wsdl:part name="parameters" element="tns:JsonData" />
	</wsdl:message>
	<wsdl:message name="IStarMFFileUploadService_JsonData_OutputMessage">
		<wsdl:part name="parameters" element="tns:JsonDataResponse" />
	</wsdl:message>
	<wsdl:portType name="IStarMFFileUploadService">
		<wsdl:operation name="GetPassword">
			<wsdl:input wsaw:Action="http://tempuri.org/IStarMFFileUploadService/GetPassword"
				message="tns:IStarMFFileUploadService_GetPassword_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IStarMFFileUploadService/GetPasswordResponse"
				message="tns:IStarMFFileUploadService_GetPassword_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="UploadFile">
			<wsdl:input wsaw:Action="http://tempuri.org/IStarMFFileUploadService/UploadFile"
				message="tns:IStarMFFileUploadService_UploadFile_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IStarMFFileUploadService/UploadFileResponse"
				message="tns:IStarMFFileUploadService_UploadFile_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="UploadMandateScanFile">
			<wsdl:input
				wsaw:Action="http://tempuri.org/IStarMFFileUploadService/UploadMandateScanFile"
				message="tns:IStarMFFileUploadService_UploadMandateScanFile_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IStarMFFileUploadService/UploadMandateScanFileResponse"
				message="tns:IStarMFFileUploadService_UploadMandateScanFile_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="JsonData">
			<wsdl:input wsaw:Action="http://tempuri.org/IStarMFFileUploadService/JsonData"
				message="tns:IStarMFFileUploadService_JsonData_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IStarMFFileUploadService/JsonDataResponse"
				message="tns:IStarMFFileUploadService_JsonData_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WSHttpBinding_IStarMFFileUploadService"
		type="tns:IStarMFFileUploadService">
		<wsp:PolicyReference URI="#WSHttpBinding_IStarMFFileUploadService_policy" />
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetPassword">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFFileUploadService/GetPassword"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UploadFile">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFFileUploadService/UploadFile"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UploadMandateScanFile">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFFileUploadService/UploadMandateScanFile"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="JsonData">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFFileUploadService/JsonData"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WSHttpBinding_IStarMFFileUploadService1"
		type="tns:IStarMFFileUploadService">
		<wsp:PolicyReference URI="#WSHttpBinding_IStarMFFileUploadService1_policy" />
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetPassword">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFFileUploadService/GetPassword"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UploadFile">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFFileUploadService/UploadFile"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UploadMandateScanFile">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFFileUploadService/UploadMandateScanFile"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="JsonData">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFFileUploadService/JsonData"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StarMFFileUploadService">
		<wsdl:port name="WSHttpBinding_IStarMFFileUploadService"
			binding="tns:WSHttpBinding_IStarMFFileUploadService">
			<soap12:address
				location="http://www.bsestarmf.in/StarMFFileUploadService/StarMFFileUploadService.svc/Basic" />
			<wsa10:EndpointReference>
				<wsa10:Address>http://www.bsestarmf.in/StarMFFileUploadService/StarMFFileUploadService.svc/Basic</wsa10:Address>
			</wsa10:EndpointReference>
		</wsdl:port>
		<wsdl:port name="WSHttpBinding_IStarMFFileUploadService1"
			binding="tns:WSHttpBinding_IStarMFFileUploadService1">
			<soap12:address
				location="https://www.bsestarmf.in/StarMFFileUploadService/StarMFFileUploadService.svc/Secure" />
			<wsa10:EndpointReference>
				<wsa10:Address>https://www.bsestarmf.in/StarMFFileUploadService/StarMFFileUploadService.svc/Secure</wsa10:Address>
			</wsa10:EndpointReference>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>