src/main/resources/wsdl/StarMFWebService.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="StarMFWebService"
	targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://www.bsestarmf.in/2016/01/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsp:Policy wsu:Id="WSHttpBinding_IStarMFWebService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="WSHttpBinding_IStarMFWebService1_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:import namespace="http://www.bsestarmf.in/2016/01/"
		location="http://www.bsestarmf.in/StarMFWebService/StarMFWebService.svc?wsdl=wsdl0" />
	<wsdl:types />
	<wsdl:binding name="WSHttpBinding_IStarMFWebService" type="i0:IStarMFWebService">
		<wsp:PolicyReference URI="#WSHttpBinding_IStarMFWebService_policy" />
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getPassword">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/getPassword"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MFAPI">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/MFAPI"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPasswordMobile">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/GetPasswordMobile"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MFAPIMobile">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/MFAPIMobile"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPasswordForChildOrder">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/GetPasswordForChildOrder"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChildOrderDetails">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/ChildOrderDetails"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAccessToken">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/GetAccessToken"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MandateDetails">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/MandateDetails"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProvOrderStatus">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/ProvOrderStatus"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OrderStatus">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/OrderStatus"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AllotmentStatement">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/AllotmentStatement"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RedemptionStatement">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/RedemptionStatement"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EMandateAuthURL">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/EMandateAuthURL"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WSHttpBinding_IStarMFWebService1"
		type="i0:IStarMFWebService">
		<wsp:PolicyReference URI="#WSHttpBinding_IStarMFWebService1_policy" />
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getPassword">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/getPassword"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MFAPI">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/MFAPI"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPasswordMobile">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/GetPasswordMobile"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MFAPIMobile">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/MFAPIMobile"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPasswordForChildOrder">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/GetPasswordForChildOrder"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChildOrderDetails">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/ChildOrderDetails"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAccessToken">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/GetAccessToken"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MandateDetails">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/MandateDetails"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProvOrderStatus">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/ProvOrderStatus"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OrderStatus">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/OrderStatus"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AllotmentStatement">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/AllotmentStatement"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RedemptionStatement">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/RedemptionStatement"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EMandateAuthURL">
			<soap12:operation
				soapAction="http://www.bsestarmf.in/2016/01/IStarMFWebService/EMandateAuthURL"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StarMFWebService">
		<wsdl:port name="WSHttpBinding_IStarMFWebService" binding="tns:WSHttpBinding_IStarMFWebService">
			<soap12:address
				location="http://www.bsestarmf.in/StarMFWebService/StarMFWebService.svc/Basic" />
			<wsa10:EndpointReference>
				<wsa10:Address>http://www.bsestarmf.in/StarMFWebService/StarMFWebService.svc/Basic</wsa10:Address>
			</wsa10:EndpointReference>
		</wsdl:port>
		<wsdl:port name="WSHttpBinding_IStarMFWebService1" binding="tns:WSHttpBinding_IStarMFWebService1">
			<soap12:address
				location="https://www.bsestarmf.in/StarMFWebService/StarMFWebService.svc/Secure" />
			<wsa10:EndpointReference>
				<wsa10:Address>https://www.bsestarmf.in/StarMFWebService/StarMFWebService.svc/Secure</wsa10:Address>
			</wsa10:EndpointReference>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>