src/main/resources/wsdl/Test_wsdl/StarMFPaymentGatewayService.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="StarMFPaymentGatewayService"
	targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsp:Policy wsu:Id="WSHttpBinding_IStarMFPaymentGatewayService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="WSHttpBinding_IStarMFPaymentGatewayService1_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import
				schemaLocation="http://bsestarmfdemo.bseindia.com/StarMFPaymentGatewayService/StarMFPaymentGatewayService.svc?xsd=xsd0"
				namespace="http://tempuri.org/" />
			<xsd:import
				schemaLocation="http://bsestarmfdemo.bseindia.com/StarMFPaymentGatewayService/StarMFPaymentGatewayService.svc?xsd=xsd1"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import
				schemaLocation="http://bsestarmfdemo.bseindia.com/StarMFPaymentGatewayService/StarMFPaymentGatewayService.svc?xsd=xsd2"
				namespace="http://schemas.datacontract.org/2004/07/StarMFPaymentGatewayService" />
			<xsd:import
				schemaLocation="http://bsestarmfdemo.bseindia.com/StarMFPaymentGatewayService/StarMFPaymentGatewayService.svc?xsd=xsd3"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IStarMFPaymentGatewayService_GetPassword_InputMessage">
		<wsdl:part name="parameters" element="tns:GetPassword" />
	</wsdl:message>
	<wsdl:message name="IStarMFPaymentGatewayService_GetPassword_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetPasswordResponse" />
	</wsdl:message>
	<wsdl:message
		name="IStarMFPaymentGatewayService_PaymentGatewayAPI_InputMessage">
		<wsdl:part name="parameters" element="tns:PaymentGatewayAPI" />
	</wsdl:message>
	<wsdl:message
		name="IStarMFPaymentGatewayService_PaymentGatewayAPI_OutputMessage">
		<wsdl:part name="parameters" element="tns:PaymentGatewayAPIResponse" />
	</wsdl:message>
	<wsdl:portType name="IStarMFPaymentGatewayService">
		<wsdl:operation name="GetPassword">
			<wsdl:input
				wsaw:Action="http://tempuri.org/IStarMFPaymentGatewayService/GetPassword"
				message="tns:IStarMFPaymentGatewayService_GetPassword_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IStarMFPaymentGatewayService/GetPasswordResponse"
				message="tns:IStarMFPaymentGatewayService_GetPassword_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="PaymentGatewayAPI">
			<wsdl:input
				wsaw:Action="http://tempuri.org/IStarMFPaymentGatewayService/PaymentGatewayAPI"
				message="tns:IStarMFPaymentGatewayService_PaymentGatewayAPI_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IStarMFPaymentGatewayService/PaymentGatewayAPIResponse"
				message="tns:IStarMFPaymentGatewayService_PaymentGatewayAPI_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WSHttpBinding_IStarMFPaymentGatewayService"
		type="tns:IStarMFPaymentGatewayService">
		<wsp:PolicyReference
			URI="#WSHttpBinding_IStarMFPaymentGatewayService_policy" />
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetPassword">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFPaymentGatewayService/GetPassword"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PaymentGatewayAPI">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFPaymentGatewayService/PaymentGatewayAPI"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WSHttpBinding_IStarMFPaymentGatewayService1"
		type="tns:IStarMFPaymentGatewayService">
		<wsp:PolicyReference
			URI="#WSHttpBinding_IStarMFPaymentGatewayService1_policy" />
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetPassword">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFPaymentGatewayService/GetPassword"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PaymentGatewayAPI">
			<soap12:operation
				soapAction="http://tempuri.org/IStarMFPaymentGatewayService/PaymentGatewayAPI"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StarMFPaymentGatewayService">
		<wsdl:port name="WSHttpBinding_IStarMFPaymentGatewayService"
			binding="tns:WSHttpBinding_IStarMFPaymentGatewayService">
			<soap12:address
				location="http://bsestarmfdemo.bseindia.com/StarMFPaymentGatewayService/StarMFPaymentGatewayService.svc/Basic" />
			<wsa10:EndpointReference>
				<wsa10:Address>http://bsestarmfdemo.bseindia.com/StarMFPaymentGatewayService/StarMFPaymentGatewayService.svc/Basic</wsa10:Address>
			</wsa10:EndpointReference>
		</wsdl:port>
		<wsdl:port name="WSHttpBinding_IStarMFPaymentGatewayService1"
			binding="tns:WSHttpBinding_IStarMFPaymentGatewayService1">
			<soap12:address
				location="https://bsestarmfdemo.bseindia.com/StarMFPaymentGatewayService/StarMFPaymentGatewayService.svc/Secure" />
			<wsa10:EndpointReference>
				<wsa10:Address>https://bsestarmfdemo.bseindia.com/StarMFPaymentGatewayService/StarMFPaymentGatewayService.svc/Secure</wsa10:Address>
			</wsa10:EndpointReference>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>